 $text-color: null;
$base-color: #008a00;
$icon-color: null;
$highlight-color: null;
$notification-color: null;
$body-background: #ff9b00;
$link: #0f7950;
$link-focus: #f79502;
$action-color: null;
$button-color: null;
$form-checked: #f79502;
$menu-text: null;
$menu-icon: null;
$menu-background: null;
$menu-highlight-text: null;
$menu-highlight-icon: null;
$menu-highlight-background: #683b0f;
$menu-current-text: null;
$menu-current-icon: null;
$menu-current-background: null;
$menu-submenu-text: null;
$menu-submenu-background: null;
$menu-submenu-background-alt: null;
$menu-submenu-focus-text: null;
$menu-submenu-current-text: null;
$menu-bubble-text: null;
$menu-bubble-background: null;
$menu-bubble-current-text: null;
$menu-bubble-current-background: null;
$menu-collapse-text: null;
$menu-collapse-icon: null;
$menu-collapse-focus-text: null;
$menu-collapse-focus-icon: null;
$adminbar-avatar-frame: null;
$adminbar-input-background: null;
$menu-customizer-text: null;
$secondary-button-color: null;
