
/*-----------------------------------------------------------------*/
/*-- ARCHIVO SASS PERTENECE A PÁGINA DE INICIO O HOME */
/*-----------------------------------------------------------------*/

//Texto bienvenida
.content-welcome
	color      : #666666
	font-family: "GothamBook" , sans-serif
	font-size  : 17px 
	font-weight: 600 
	line-height: 1.2em
	max-width  : 562px 
	//Estilos a los parrafos
	p 
		&:first-line
			font-size: 21px

	//Estilos a Link
	a.link-to-more 
		color          : #008A00
		font-size      : 20px
		position       : relative
		text-decoration: none 


/*-----------------------------------------------------------------*/
/*-- SECCION DESTACADOS  */
/*-----------------------------------------------------------------*/

/**
  * Seccion Contenedora
  */
.sectionHomeFeatures
	/* Controles */
	.owl-controls
		.owl-dots
			text-align: right
			.owl-dot
				+border-radius( 50% )
				border    : 2px solid gray 
				box-sizing: border-box 
				display   : inline-block
				height    : 12px 
				margin    : 0 7px 0 0
				width     : 12px
				+transition( all 500ms ease-in )
				//hover and active
				&:hover , &.active 
					background: gray 


/*-----------------------------------------------------------------*/
/*-- SECCION ,MISCELANEO */
/*-----------------------------------------------------------------*/

/**
  * Agenda Turista
  */

#tourist-events
	border-left : 1px solid rgba(0,0,0, .09 )
	border-right: 1px solid rgba(0,0,0, .09 )
	font-family : "GothamBook", sans-serif

	.content
		padding: 20px 21px

	//Título
	h2.title-section
		background     : url('../../images/backgrounds/bg-title-event.jpg') no-repeat
		background-size: 100%
		color          : white 
		font-size      : 22px 
		font-weight    : 600 
		padding        : 10px 18px
	//Icon 
	i 
		display : inline-block
		margin  : 0 10px 0 
		position: relative 
		span 
			font-size: 11px
			padding  : 9px 4px 0
			position : absolute
			top      : 0

	//Image
	figure.featured-image
		overflow: hidden
		img 
			+transition( all 700ms ease-in )
		//:hover
		&:hover 
			img 
				+scale(1.03)
				+filter( sepia(100%) )

	//Titulo evento
	.title-event
		color      : #4B4B4B
		font-size  : 20px 
		font-weight: 600
	.excerpt-event
		line-height: 1.2em
		margin     : 0 0 12px

	/*Boton mas eventos */
	a.btn-more-events
		background         : #FF9B00 url('../../images/backgrounds/bg-more-events.jpg') no-repeat
		background-position: 100%
		color              : white 
		display            : inline-block
		line-height        : 1em 
		padding            : 12px 55px 12px 14px
		text-decoration    : none !important


/**
  * Separación Miscelaneo
  */
#line-miscelaneo
	background         : url('../../images/backgrounds/bg_line_green_v.png') no-repeat
	background-position: center center 
	height             : 430px